<table class="table table-hover">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Course Name</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th>Delete</th>
          
        </tr>  
      </thead>
        <tr *ngFor="let pd of service.list">
            
            <td id="data" (click)="populateForm(pd)">{{ pd.CourseName }}</td>
            <td id="data" (click)="populateForm(pd)">{{ pd.StartDate }}</td>
            <td id="data" (click)="populateForm(pd)">{{ pd.EndDate }}</td>
           
            <td>
              <i
                class="fas fa-minus-circle fa-lg text-danger"
                (click)="onDelete(pd.CourseID)"
              ></i>
            </td>
          </tr>
        </table>
        